<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AeroGTConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.10.10)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=aero_la_aurora)));User Id=AEROGT;Password=AeroGT_2025#" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="AeroGTReadOnly" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.10.20)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=aero_la_aurora)));User Id=AEROGT;Password=AeroGT_2025#" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/06_Seguridad_Finanzas/Seguridad/Login.aspx" timeout="20" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState timeout="20" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="06_Seguridad_Finanzas/Seguridad/Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>
